*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background: url("../images/stores.jpg") center center fixed;
    padding: 20px;
    background-size: cover;

}

.login{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.19);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 74, 135, 0.527);
    margin-top: 10rem;
    gap:20px;
    height: 25rem;
    width: 20rem;
    padding: 20px;
}
.container h1{
    text-align: center;

}

.container .details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.container .details input{
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(219, 219, 219);
}


.check{
    display: flex;
    margin-left: 10px;
    gap: 5px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    text-decoration: none;

}
.buttons a{
    text-decoration: none;
    color: black;
    width: 95%;
}
.buttons .log{
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(158, 205, 255);
    color: black;
    text-decoration: none;
    margin-bottom: 7px;
}
.buttons .sig{
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(158, 205, 255);
    color: black;
    text-decoration: none;
}