*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color: rgb(199, 242, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.navbar .route{
    display: flex;
    gap: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.navbar li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;

}
.navbar a{
    text-decoration: none;
}
.navbar .image{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .image img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.navbar .searchbar input{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 300px 
}

.main{
    display: flex;

}
.sidebar{
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    width: 200px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
}
.sidebar li{
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}
.sidebar .route{
    margin-top: 20px;
    align-items: center;
    background-color: rgb(248, 248, 245);
    width: 300px;
}
.sidebar .bar{
    display: flex;
    align-items: center;
    margin-top: 1px;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: white;
}
.sidebar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.bar:hover{
    box-shadow: 2px 2px 0 0 rgb(0, 0, 0.2);
}
.products {
    display: flex;
    background-color:  #ffffffce;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    padding: 40px;
}
.products .pro-card{
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 330px;
    padding: 10px;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.products img{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.pro-card p{
    word-wrap: break-word;
    text-align: center;
}